.button-wrapper {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #000000;
  color: #f3f3f3;
  flex: 1;
}

.operator {
  background-color: #000000;
  color: #fe9241;
}
